[voltage]
# MAXVOLTAGE is the highest voltage the HV PSU can produce in kV.  For
# negative polarity devices, the value is negative.  The value is used
# e.g. for scaling the 12-bit integer, which the Technix serial
# protocol uses for setting the voltage value.
MAX_VOLTAGE=-100.0

# VOLTAGELIMIT is the maximum voltage for the particular application
# in kV.  The module will never request a voltage exceeding that
# value.  For negative polarity PSU the value should be negative.
VOLTAGE_LIMIT=-20.0

[current]
# MAXCURRENT is the highest current the HV PSU can produce in mA. The
# value is used e.g. for scaling the 12-bit integer, which the Technix
# serial protocol uses for setting the current value.
MAX_CURRENT=50.0

# CURRENTLIMIT is the maximum current for the particular application
# in mA.  The module will never request a current exceeding that
# value.
CURRENT_LIMIT=5.0

[serial]
# The port is the name of the serial device file
port = /dev/ttyUSB0

# Technix SR100kV-5kW uses RS232 line specs: 1 start bit, 8 data bits,
# 1 stop bit, no parity, Full Duplex mode, baud rate 9600
baudrate  = 9600
bytesize  = 8
parity    = N
stopbits  = 1
startbits = 1
rtscts    = False
dsrdtr    = False
xonxoff   = False
# Timeout in seconds.  When reading data from the serial port, wait
# maximum 'timeout' seconds.  Float allowed. 'None' means forever, '0' is
# a non-blocking mode.
timeout = 0.2
